body {
  margin-block: 0;
  margin-inline: 0;

  display: flex;
  justify-content: center; /* center #content-wrapper on page */

  background-color: bisque;
}

#content-wrapper {
  /*
    container for entire page, with a compact max width of 160ch
    it would be weird to limit <body>'s width, which might affect
    the background color
  */

  padding-inline: 2ch;
  box-sizing: border-box; /* gutters always on, never eaten like margin would. and padding-inline on its own does not contribute to max-width 100% */
  flex: 0 1 160ch;
  max-width: 100%;
  /*
    flex-shrink: 1 and flex-basis: 160ch is only a suggestion to shrink.
    max-width: 100% is forceful, even on unshrinkable content like tables.
  */

  display: flex;
  flex-direction: column;
}

#content-top {
  /* header if we want it */
}

#content-middle {
  display: flex;
  justify-content: space-between;
  gap: 2ch;
}

#content-middle-center {
  flex: 1 1 100%;
  overflow-x: auto;

  display: flex;
  flex-direction: column;
}

main {
}

main > header {
  margin-block: 1em;
}

main > footer {
  margin-block: 1em;
}

#sidebar {
  flex: 0 0 40ch;

  position: sticky;
  top: 0ch;
  max-height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: blanchedalmond;
}

#sidebar-bottom {
  padding: 1ch;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 130ch) {
  #sidebar {
    display: none;
  }
}

#content-bottom {
  /* footer if we want it */
}

h1,
h2,
h3 {
  text-decoration: underline double;
}

thead th {
  padding-inline-end: 2ch;
  text-align: start;
}

th {
  white-space: nowrap;
}

td {
  vertical-align: top;
}

p,
li {
  max-width: 80ch;
}

blockquote {
  margin-inline: 0;
  padding-inline: 3ch;
  max-width: fit-content;
  border: 1ch solid blanchedalmond;
}

img {
  max-width: 100%;
}

details details {
  margin-inline-start: 2ch;
}

details summary {
  font-size: 1.5em; /* Match h2 size. */
  font-weight: bold;
  text-decoration: underline double;
}

.shell-command {
  background-color: papayawhip;
  padding-inline: 1ch;
}

.a-dfn {
  color: black;
}

.utf-8000-bits,
.utf-8000-byte {
  /* font-family: monospace; */
  /* font-family: "Courier New", Courier, monospace; */
  background-color: dimgray;
  margin-inline: 0ch;
  padding-inline: 1ch;
  text-wrap-mode: nowrap;
}

.utf-8000-bits-self-sync-first {
  font-weight: bold;
  color: cyan;
}

.utf-8000-bits-self-sync-continuation {
  font-weight: bold;
  color: cyan;
}

.utf-8000-bits-z {
  color: orange;
}

.utf-8000-bits-start {
  font-weight: bold;
  color: magenta;
}

.utf-8000-bits-content-mandatory {
  font-weight: bold;
  color: lime;
}

.utf-8000-bits-content-optional {
  color: lime;
}

.utf-8000-bits-unknown {
  color: white;
}

.utf-16000-bits-surrogate-frame {
  font-weight: bold;
  color: pink;
}

.utf-16000-bits-surrogate-plane {
  font-weight: bold;
  color: crimson;
}

.ucs-bits-self-sync {
  color: darkturquoise;
}

.ucs-bits-self-punctuation-mandatory {
  font-weight: bold;
  color: salmon;
}

.ucs-bits-self-punctuation-optional {
  color: salmon;
}

.byte-table {
  font-family: monospace;
  font-size: large;
  border-spacing: 0.5ch;
  text-align: center;
}

.byte-table th {
  width: 2ch;
}

.byte-table td {
  width: 2ch;
}

.table-byte-1 {
  background-color: gold;
}

.table-byte-2 {
  background-color: yellowgreen;
}

.table-byte-3 {
  background-color: olivedrab;
}

.table-byte-4 {
  background-color: lightseagreen;
}

.table-byte-5 {
  background-color: deepskyblue;
}

.table-byte-6 {
  background-color: royalblue;
}

.table-byte-7 {
  background-color: mediumpurple;
}

.table-byte-8 {
  background-color: violet;
}

.table-byte-continuation {
  background-color: sandybrown;
}

.table-byte-never {
  background-color: tomato;
}
