body {
  background-color: bisque;
}

h1,
h2,
h3 {
  text-decoration: underline double;
}

th {
  padding-inline-end: 1em;
  text-align: start;
}

td {
  vertical-align: top;
}

p,
li {
  max-width: 80ch;
}

img {
  max-width: 100%;
}

details details {
  margin-inline-start: 2ch;
}

details summary {
  font-size: 1.5em; /* Match h2 size. */
  font-weight: bold;
  text-decoration: underline double;
}

.utf-8000-bits,
.utf-8000-byte {
  /* font-family: monospace; */
  /* font-family: "Courier New", Courier, monospace; */
  background-color: dimgray;
  margin-inline: 0ch;
  padding-inline: 1ch;
  text-wrap-mode: nowrap;
}

.utf-8000-bits-self-sync-first {
  font-weight: bold;
  color: cyan;
}

.utf-8000-bits-self-sync-continuation {
  font-weight: bold;
  color: cyan;
}

.utf-8000-bits-z {
  color: orange;
}

.utf-8000-bits-start {
  font-weight: bold;
  color: magenta;
}

.utf-8000-bits-content-mandatory {
  font-weight: bold;
  color: lime;
}

.utf-8000-bits-content-optional {
  color: lime;
}

.utf-8000-bits-unknown {
  color: white;
}
